:root {
/* START Var COLORS  */

    /* bg color */
    --bg-color-white: #fff;

    /* text color */
    --color-text-black: #161616;
    --color-text-dark: #545454;
    --color-text-medium: #7E7E7E;

    /* border color */
    --border-gray-base: #ddd;

    /* forms colors */
    --input-border-error: #FFABAB;
    --input-border-focus: #A9DAFF;
    --input-blue-label: #219FFF;
    --input-color-error: #EC3333;

/* END Var COLORS  */
}
