:root {
/* START Var COLORS  */

    /* bg color */
    --color-primary--medium: #ff7d02;
    --bg-color-white: #fff;
    --bg-color-orange: #ff7d02;
    --bg-gray-light: #f6f6f6;

    /* text color */
    --color-text-black: #161616;
    --color-text-dark: #545454;
    --color-text-medium: #7E7E7E;

    /* border color */
    --border-gray-base: #ddd;
    --border-gray-light: #eeeff5;

    /* forms colors */
    --forms-disabled-color: #b3b3b3;
    --input-border-error: #FFABAB;
    --input-border-focus: #A9DAFF;
    --input-blue-label: #219FFF;
	--input-color-error: #EC3333;
	--input-color-warning: #F7B500;
    --input-color-success: #15A831;

/* END Var COLORS  */
}
