@import "./_colors.scss";
input[type="text"],
input[type="email"],
textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 15px;
    line-height: normal;
    background-color: #fff;
    box-sizing: inherit;
    height: auto;
    padding: 5px;
    border: 1px solid var(--border-gray-base);
    border-radius: 3px;
    outline: none;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: unset;
    transition: all 0.3s ease-out;
}

.button-set {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* basic links styles */
.plain-link-secondary {
	color: var(--color-link-secondary);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.plain-cta {
	color: var(--input-blue-label);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
/* basic links styles */

/* CSS for basic solid button */
.ctv-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: 100%;
    line-height: 1.3;
    text-decoration: none;
    text-align: center;
    word-break: break-word;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: var(--bg-color-orange);
    color: #fff;
    //border: 1px solid var(--bg-color-orange);
    //min-width: 40%;
    font-size: 15px;
	padding: 11px 22px;
	outline: 0;
	border:1px solid transparent;

    &.outline {
        color: var(--bg-color-orange);
        background-color: #fff;
        border: 1px solid var(--bg-color-orange);
    }
    
    &:focus {
        outline: 0;
    }

    &:active,
    &:hover {
        opacity: 0.85;
    }
    &[disabled],
    &.disabled {
        box-shadow: none;
        opacity: unset;
        background-color:var(--border-gray-base);
        cursor: default;
    }
}
/* CSS for basic solid button */


/* forms basic HTML no JS */

@mixin required-asterisk {
	~ label {
		&:after {
			content: "*";
			position: absolute;
			top: 2px;
			right: -2px;
			left: unset;
			opacity: 1;
		}
	}
}

/*------------------------------------------------------------*/
/*						ctv-input-field                       */
/*------------------------------------------------------------*/
.ctv-input-field {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 0 0 100%;
	margin-bottom:5px;

	&.error {
		input:not([type]),
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="time"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="tel"],
		input[type="number"],
		input[type="search"],
		textarea {
			border-color: transparent;
			-webkit-box-shadow: 0 0 0 2px var(--input-color-error);
			box-shadow: 0 0 0 2px var(--input-color-error);
		}

		select {
			border:1px solid var(--input-color-error);
		}

		/* show msg error */
		.error {
			visibility: visible;
		}
		.character-counter {
			display: none;
		}
	}
	&.select-field {
		&:after {
			content: "";
			right: 15px;
			position: absolute;
			top: 38px;
			pointer-events: none;
			display: block;
			width: 9px;
			line-height: 1;
			height: 9px;
			border-top: 2px solid transparent;
			border-right: 2px solid var(--color-text-dark);
			border-bottom: 2px solid var(--color-text-dark);
			border-left: 2px solid transparent;
			transform: rotate(45deg);
			border-radius: 0px 2px 1px 2px;
		}
		&.disabled {
			&:after{
				border-right: 2px solid var(--forms-disabled-color);
				border-bottom: 2px solid var(--forms-disabled-color);
			}

		}
	}
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		padding:5px 27px 5px 15px;
		border:1px solid var(--border-gray-base);
		border-radius: 3px;
		font-family: Arial, Helvetica, sans-serif;
    	width: 100%;
		font-size: 15px;
		color:var(--color-text-dark);
		position:relative;
		min-height: 38px;

		&:not(.disabled){
			cursor: pointer;
			background-color: #fff;
		}

		&.disabled{
			cursor: not-allowed;
			color:var(--forms-disabled-color);
			background-color: #f1f1f1;
			&:hover,
			&:active {
				border:1px solid var(--border-gray-light);
			}
		}
		
		&:hover {
			border:1px solid var(--input-border-focus);
		}
		&:focus {
			box-shadow: none;
			outline: none;
			border:1px solid var(--input-border-focus);
		}

	}

	label {
		position: relative;
		align-self: flex-start;
		order: 0;
		font-size: 13px;
		font-weight: 400;
		color: var(--color-text-medium);
		padding: 3px 5px;
		transition: all 0.3s ease-out;
		text-align: left;

		i {
			vertical-align: middle;
		}
	}
	
	::-moz-placeholder {
		color: var(--color-text-medium);
	}

	::-webkit-input-placeholder {
		color: var(--color-text-medium);
	}

	::placeholder {
		color: var(--color-text-medium);
	}

	input:not([type]),
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="time"],
	input[type="date"],
	input[type="datetime"],
	input[type="amount"],
	input[type="datetime-local"],
	input[type="tel"],
	input[type="number"],
	input[type="search"],
	textarea {
		order: 1;
		width: 100%; /* TK: Matteo - CTBT-1355 */
		font-size: 15px;
		background-color: #fff;
		box-sizing: inherit;
		height: auto;
		padding: 5px;
		border: 1px solid var(--border-gray-base);
		border-radius: 3px;
		outline: none;
		margin: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		box-shadow: unset;
		transition: all 0.3s ease-out;
		line-height: normal;

		&:focus:not([readonly]) {
			border-color: transparent;
			box-shadow: 0 0 2px 1px var(--input-blue-label);

			~ label {
				color: inherit;
			}
		}

		&[required] {
			@include required-asterisk;
		}

		&:disabled {
			color: var(--color-text-medium);
			border: 1px solid var(--border-gray-light);
			background-color: var(--bg-gray-light);

			~ label {
				cursor: auto;
				color: var(--color-text-medium);
			}
		}
	}

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		pointer-events: none;

		+ label {
			position: relative;
			cursor: pointer;
			transition: 0.28s ease;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				z-index: 0;
				transition: 0.28s ease;
				border-radius: 50%;
			}

			&::before {
				border: 1px solid var(--border-gray-base);
			}

			&::after {
				background-color: var(--color-primary--medium);
				transform: scale(0);
			}
		}

		&:checked + label {
			&::before {
				border-color: var(--color-primary--medium);
			}

			&::after {
				transform: scale(0.6);
			}
		}

		&:disabled {
			+ label {
				cursor: auto;

				&::before {
					border-color: var(--forms-disabled-color);
					opacity: 0.3;
				}

				&::after {
					background-color: var(--forms-disabled-color);
					opacity: 0.5;
				}
			}
		}
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		pointer-events: none;

		+ label {
			position: relative;
			padding: 0 0 0 25px;
			margin-left: 2px;
			margin-bottom: 15px;
			cursor: pointer;
			display: inline-block;
			min-height: 25px;
			line-height: 25px;
			font-size: 15px;
			-moz-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
			user-select: none;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 18px;
				height: 18px;
				z-index: 0;
				border: 1px solid var(--color-text-medium);
				border-radius: 3px;
				margin-top: 2px;
				transition: 0.2s;
			}

			&:empty {
				padding: 0 0 0 21px;
			}
		}

		&:disabled + label {
			cursor: auto;
			color: var(--forms-disabled-color);

			&::before {
				border-color: var(--forms-disabled-color);
				opacity: 0.3;
			}
		}

		&:checked {
			+ label::before {
				top: -4px;
				left: -5px;
				width: 12px;
				height: 22px;
				border: 3px solid transparent;
				border-right-color: var(--color-primary--medium);
				border-bottom-color: var(--color-primary--medium);
				border-radius: 1px;
				transform: rotate(40deg);
				backface-visibility: hidden;
				transform-origin: 100% 100%;
			}

			&:disabled + label::before {
				border-right-color: var(--forms-disabled-color);
				border-bottom-color: var(--forms-disabled-color);
				opacity:0.5;
			}
		}

		&:indeterminate {
			+ label::before {
				top: -11px;
				left: -12px;
				width: 10px;
				height: 22px;
				border-top: none;
				border-left: none;
				border-right-color: var(--color-primary--medium);
				border-bottom: none;
				border-radius: 1px;
				transform: rotate(90deg);
				backface-visibility: hidden;
				transform-origin: 100% 100%;
			}

			&:disabled + label::before {
				border-right-color: var(--forms-disabled-color);
			}
		}
		&[required] {
			~ label {
				&:after {
					content: "*";
					position: relative;
					opacity: 1;
				}
			}
		}
	}

	textarea {
		min-height: 90px;
		height: 90px;
		max-height: 90px;
		overflow-y: auto;
		resize: none;
	}

	.options {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		order: 1;
		min-height: 30px;

        
        
		&.column {
			flex-direction: column;
			align-items: flex-start;
		}

		> div {
			display: flex;
			padding: 5px 0;
			flex-wrap: wrap;

			&:not(:last-child) {
				margin-right: 15px;
			}
			
			label {
				height: unset;
				font-size: 15px;
				line-height: 1.4;
				color: var(--color-text-dark);
				padding: 0 0 0 27px;
				-moz-user-select: none;
				-ms-user-select: none;
				-webkit-user-select: none;
				user-select: none;
			}

			> div {
				flex-direction: row;
				display: flex;
				align-items: center;
				margin-left: 10px;
			}
			
			
			input[type="checkbox"]:not(:checked) ~ div,
			input[type="radio"]:not(:checked) ~ div {
				opacity: 0.75;
			}
			
			input[type="checkbox"]:disabled ~ label,
			input[type="radio"]:disabled ~ label,
			input[type="checkbox"]:disabled ~ div,
			input[type="radio"]:disabled ~ div {
				color: var(--forms-disabled-color);
			}
		}
	}

	.error {
		order: 2;
		color: var(--input-color-error);
		font-size: 12px;
		text-align: right;
		height: 15px;
		margin:2px 0;
		visibility: hidden; /* hide by default error placeholder */

		&.no-wrap {
			white-space: nowrap;
		}

		&.checkbox-error {
			margin-top: -15px;
			text-align: left;
		}
	}

	.character-counter {
		position: absolute;
		bottom: -3px;
		right: 5px;
		height: unset !important;
	}
}

/*------------------------------------------------------------*/
/*							FORM ROW						  */
/*------------------------------------------------------------*/
.form-row {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-left: -7px;
	margin-right: -7px;

	> div {
		padding-left: 7px;
		padding-right: 7px;
	}

	> div:not(.ctv-input-field) {
		margin-bottom: 15px;
	}
}

.ctv-input-field[tabindex],
.error[tabindex],
label[tabindex],
div[tabindex],
a[tabindex],
ul[tabindex] {
	outline: none;
}
/* forms basic HTML no JS */